<div class="container-fluid mt-4 pt-5">

        <div class="row">
          <div class="col">
            <input  [(ngModel)]="searchText" placeholder="" autocomplete="off" (input)="onSearchText()">
  
            <!-- <div >
  
              <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
            </div> -->
          </div>
        </div>
      <ul>
        <li *ngFor="let result of searchResults">
          <h3>{{ result.title }}</h3>
          <p>Author: {{ result.publishBy}}</p>
          <p>Description: {{ result.date }}</p>
          <button (click)="readMore(result)">readmmore</button>

          <!-- <img src="assets/{{result.dataPath}}/title.jpg"/> -->

        </li>
      </ul>
</div>

<div *ngIf="isOnC">
<router-outlet></router-outlet>
</div>