<div class="container-fluid mt-5 pt-4">
  <div class="search-nav fixed-top">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 mt-1">
        <form
          [formGroup]="searchForm"
          (ngSubmit)="searchArticles(searchForm.value)"
        >
          <div class="row">
            <div class="col input-group">
              <input
                type="text"
                placeholder="{{ searchPlaceholder }}"
                name="search"
                formControlName="search"
                class="form-control"
              />

              <div class="input-group-append">
                <button type="submit"  [disabled]="!searchForm.valid" class="btn btn-success">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="navbar-container">
        <ul>
          <li
            class="nav-link"
            *ngFor="let navbut of navList; let in = index"
            [ngClass]="{ 'active-link': in === navitemno }"
          >
            <a href="javascript:void(0)" (click)="navToggle(in)"
              >{{ navbut }}
            </a>

            <div class="underline"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="isload" class="row col-md-4 col-sm-6 offset-md-4 offset-sm-3">
    <img
      src="https://cdn.dribbble.com/users/97161/screenshots/1696432/__.gif"
    />
  </div>
  <!-- <div *ngIf="!isSearchFull && !isload" class="row col-md-4 offset-md-5">
      <p class="alert alert-danger">NO NEWS FOUND</p>
    </div> -->

  <!-- Start Blog -->
  <section class="blog section" id="blog">
    <div class="container">
      <p>Top {{ searchResults.length }} article(s) for today</p>

      <div class="row">
        <div class="blog-item padd-15" *ngFor="let result of searchResults">
          <div class="blog-item-inner shadow-dark">
            <div class="blog-img">
              <a (click)="readMore(result)">
                <img src="assets/{{ result.dataPath }}/title.jpg" alt="Blog" />
              </a>
              <div class="blog-date">
                {{ result.topic }}
              </div>

              <!--             
            <small class="text-muted cat">
              <i class="bi bi-vector-pen"></i>Published By: {{result.publishBy}}
            </small> -->
            </div>

            <div class="blog-info">
              <h4 class="blog-title">{{ result.title }}</h4>
              <div class="blog-description">
                <!-- <p class="readm">{{result.description}} </p> -->
                <div class="readmo articlea">
                  <a
                    href="javascript:void(0)"
                    (click)="readMore(result)"
                    >Continue Reading</a
                  >
                </div>
                <div style="float: left" class=" ">

                  <small 
                    >Dated on: {{ result.date }}
                  </small>
               </div>
               <br>
                  <div style="float: right;margin-right: 10px; margin-top: -15px;">
                    <small>
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                      {{ result.timeToRead }} min to read
                    </small>
                  </div>
                  <br>
                <div style="float: right ;color: #053462" class="">
                  <span class="socialbut">
                    <a
                      href="javascript:void(0)"
                      (click)="copyMessage(result)"
                      value="click to copy"
                      style="color: #3b3a3f"
                    >
                    <i class="fa fa-clipboard fa-lg" aria-hidden="true"></i>

                    </a>
                  </span>
                  <span class="socialbut">
                    <a href="javascript:void(0)" (click)="sharefb(result)">
                      <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
                    </a>
                  </span>
                  <!-- <span class="socialbut">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-share-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"
                      />
                    </svg>
                  </span> -->
                  <span class="socialbut">
                    <a
                      href="javascript:void(0)"
                      (click)="shareWap(result)"
                      style="color: #35d570"
                    >
                    <i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Blog-item-->
      </div>
    </div>
  </section>
</div>
