.articlea {
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}
.articlea {
	color: #2ccef2;
	font-family: HK Grotesk, sans-serif;
	letter-spacing: 0.5px;
	text-decoration: underline;
}

.section {
    margin-top: 70px ;
    min-height: 100vh;
    display: block;
}
.section .container{
    padding-top: 10px;
    padding-bottom: 70px;
}
.section-title{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 35px;
}
.section-title h2 {
    font-size: 10px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin: 0;
    position: relative;
}
.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0a66c2;
}
.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    background-color: #0a66c2;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}
.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}
/** Blog **/
.blog .container {
    padding: 15px;
}
.blog .blog-item {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 25%;
    margin-bottom: 30px;
}
.blog .blog-item-inner {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d4d4e3;
    height: 390px;

}
.blog .blog-item-inner .blog-img {
    position: relative;
    overflow: hidden;
    height: 210px;
}
.blog .blog-item-inner .blog-img img {
    width: 100%;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
    
    filter: saturate(55%);
}
.blog .blog-item-inner:hover .blog-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  
  filter: saturate(130%);
}
.blog .blog-item-inner .blog-img .blog-date {
    position: absolute;
    padding: 4px 10px;
    border-radius: 5px;
    color: #302e4d;
    font-weight: 600;
    font-size: 14px;
    left: 15px;
    bottom: 15px;
    background-color: #ffffff;
    border-color: #302e4d;
    border-width: 20ch;
}
.blog .blog-item-inner .blog-info {
    padding: 20px 15px;
    padding-bottom: 0px;
    background-color: #ffffff;
}
.blog .blog-item-inner .blog-info .blog-title {
    font-size: 17px;
    font-weight: 700;
    color: #302e4d;
    text-transform: capitalize;
    margin-bottom: 10px;
    height: 40px;
}
.blog .blog-item-inner .blog-info .blog-description {
    font-size: 16px;
    line-height: 15px;
    color: #504e70;
    font-weight: 400;
    /* margin-bottom: 15px; */
   
}
.blog .blog-item-inner .blog-info .blog-tags {
    font-size: 14px;
    line-height: 25px;
    color: #504e70;
    font-weight: 400;
    text-transform: capitalize;
}
.blog .blog-item-inner .blog-info .blog-tags a {
    text-decoration: none;
    font-weight: 600;
    color: #0a66c2;
}

/** Responsive **/
@media (max-width: 1000px) {
    .blog .blog-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
        ;
    }
    .blog .blog-item-inner .blog-info .blog-title {
        font-size: 17px;
        font-weight: 700;
        color: #302e4d;
        text-transform: capitalize;
        margin-bottom: 10px;
        height: 50px;
    }
 
}

@media (max-width: 520px) {
    .blog .blog-item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .blog .blog-item-inner .blog-info .blog-title {
        font-size: 17px;
        font-weight: 700;
        color: #302e4d;
        text-transform: capitalize;
        margin-bottom: 10px;
        height: 40px;
    }
   
}
@media (min-width: 1001px) {
    .blog .blog-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 33.33%;
    }
    .blog .blog-item-inner .blog-info .blog-title {
        font-size: 17px;
        font-weight: 700;
        color: #302e4d;
        text-transform: capitalize;
        margin-bottom: 10px;
        height: 40px;
    }
   
 
}

@media (min-width: 1250px) {
    .blog .blog-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 33.33%;
    }
    .blog .blog-item-inner .blog-info .blog-title {
        font-size: 17px;
        font-weight: 700;
        color: #302e4d;
        text-transform: capitalize;
        margin-bottom: 10px;
        height: 40px;
    }
    .container-fluid{
        padding-right: 200px;
        padding-left: 200px;
    }
 
}



.infodata{
    margin-left: 20px;


}
.readm{
    height: 70px;
    overflow-y: hidden;

}

.readmo{
    margin-top: 15px;
    margin-bottom: 15px;

}

.social{
    margin-left: 20px;
}

.dash{
    margin-top: -15px;

    border-bottom-style: solid ;
    border-width: 1px;
    opacity: 50%;
    border-color: #095aaa ;

}

.btn-colour-1 {
    color: #fff;
    background-color: #0a66c2;
    border-color: #095aaa;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 0;
  }
  
  .btn-colour-1:hover,
  .btn-colour-1:active,
  .btn-colour-1:focus,
  .btn-colour-1.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #08529d;
    color: #ffffff;
    border-color: #053462;
  }

 .search-nav{
    margin-top: 58px; 
    border-radius: 2px;
    background-color: #fff;
    
    box-shadow: 0px 2px 3px #d7d9dc;
  }
 
.navbar-container {
	text-align: center;
	background-color: #ffffff;
	padding: 0px;
	font-size: 0;
    overflow: auto;
    white-space: nowrap;
    text-transform: capitalize; 
    margin-right: 5px;
}

.navbar-container ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
 

	vertical-align: middle;
}

.navbar-container ul li {
	display: inline-block;
	font-size: 16px;
    
}
 
.navbar-container ul li a {
	color: #1d1919;
	text-decoration: none;
	display: inline-block;	
	padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    margin-left: 5px;
	transition: color 0.5s;
}

.navbar-container ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
    background-color: rgb(78, 64, 64);

}

.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color: rgb(78, 64, 64);
}

.navbar-container ul li:hover .underline {
	background-color: rgb(40, 35, 35);
	width: 100%;
}



.navbar-container ul li:active a {
	transition: none;
	color: rgba(61, 54, 54, 0.76);
}

.navbar-container ul li:active .underline {
	transition: none;
	background-color: rgba(21, 18, 18, 0.76);
}

::-webkit-scrollbar {
    width: 1px;
    height: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .socialbut{
    padding-right: 10px; padding-left: 10px;
  }