<div class="container-fluid mt-4 pt-5">
   <div class="row justify-content-center">
      <div class="col">
         <div class="card border-primary mb-3">
            <div class="card-header">fact</div>
            <div class="card-body text-primary">
               <h5 class="card-title">Primary card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card border-primary mb-3">
            <div class="card-header">quote</div>
            <div class="card-body text-primary">
               <h5 class="card-title">Primary card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card border-primary mb-3">
            <div class="card-header">top of the day</div>
            <div class="card-body text-primary">
               <h5 class="card-title">Primary card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card border-primary mb-3">
            <div class="card-header">count</div>
            <div class="card-body text-primary">
               <h5 class="card-title">Primary card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-9 col-sm-12">
         <div class="card border-primary mb-3">
            <div class="card-header">Blog</div>
            <div class="card-body text-primary">
               <h5 class="card-title">Primary card title</h5>
               <div [innerHTML]="htmlData"></div>
            </div>
         </div>
      </div>
      <div class="col-md-3 col-sm-12">
         <div class="card border-primary mb-3">
            <div class="card-header">sug 1</div>
            <div class="card-body text-primary">
               <h5 class="card-title">Primary card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
         </div>
         <div class="card border-primary mb-3">
            <div class="card-header">sug 2</div>
            <div class="card-body text-primary">
               <h5 class="card-title">Primary card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
         </div>
         <div class="card border-primary mb-3">
            <div class="card-header">sug 3</div>
            <div class="card-body text-primary">
               <h5 class="card-title">Primary card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
         </div>
      </div>
   </div>
</div>
